<div class="container-sm">
  <div class="card-transparent">
  <div class="card-body special-card">
<h3>Mondo Burgers !</h3>

<h4>Create a Burger</h4>
<form class="create-form">

  <div class="form-group">
    <label for="mondo">Burger Name</label><br>
    <input type="input" name="name" id="mondo"><br>
  </div>

  <button type="submit">Add the burger
  <i class="fa fa-plus-square-o" aria-hidden="true"></i>
  </button>
</form>
  </div>
</div>
<div class="card-transparent">
<div class="card-body special-card">
<h4>Devoured Burgers</h4>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>{{burger_name}}
          <button class="devoured" data-devoured= "{{devoured}}" data-id= "{{this.id}}">
              Devour Now!
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          </button>
      </li>
    {{/unless}}
  {{/each}}
</ul>
</div>
</div>
<div class="card-transparent">
<div class="card-body special-card">
<h4> Those are some Mondo Burgers!</h4>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>{{burger_name}}
          <button class="devoured" data-devoured="{{devoured}}" data-id="{{this.id}}">
              You have devoured this!
          </button>
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
</div>

