<h1>Mondo Burgers !</h1>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>{{burger_name}}
          <button class="devoured" data-devoured= "{{devoured}}" data-id= "{{id}}">
              Devour Now!
          </button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2> Those are some Mondo Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
          <button class="devoured" data-devoured="{{devoured}}" data-id=""{{id}}>
              That was Mondo, yes?
          </button>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="mondo">Burger Name</label><br>
    <input type="input" name="name" id="mondo"><br>
  </div>

  <button type="submit">Add the burger</button>
</form>
