<li>
	{{name}}

	<button class="devoured" data-id="{{id}}" data-newDevoured=""="{{devoured}}">
		{{#if devoured}}Mmmm Mondo!{{else}}Consume!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Not The Right Stuff?</button>
</li>